{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content%}

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {% for product in object_list%}
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5"> {{ product.name }}</h2>
        <p class="lead"> {{ product.description }}</p>
          <p class="card-text">
                {% for version in product.versions.all %}
                {% if version.is_version_active %}
                <p>Версия: {{version.version_name}} ({{version.version_number}}) </p>
                {% endif %}
                {% endfor %}
                </p>
      </div>
          <img src="{{ product.image | media_filter }}" width="800" height="600">
        <div class="d-flex justify-content-between alingn-items-center">
            {% if perms.catalog.can_cancel_publication and perms.catalog.can_change_description and perms.catalog.can_change_category or user == product.owner%}
            <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
            <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock %}