{% extends 'catalog/base.html'%}
{% block content%}
{% load my_tags %}

<div class="col-12">
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5"> {{ object.name }}</h2>
        <p class="lead"> {{ object.description }}</p>
      </div>
        <img src="{{ object.image | media_filter }}" width="800" height="600">
    </div>
</div>
<div class="col-12">
    <div class="text-center overflow-hidden">
            <a class="btn btn-primary" href="{% url 'catalog:product_list'%}" role="button">Назад</a>
        </div>
</div>
  </div>


{% endblock %}